
body {
  background-color: #F6F7F0;
  margin-left: 40px;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

/*Header Styling*/
/*some inspiration drawn from: http://onepagelove.com/green-chameleon*/

.vert_nav {
  float:left;
  position: fixed;
  overflow: hidden;
  text-align: center;
  z-index: 5;
  left: 0;
  top: 0;
  background: #1d2123;
  width: 100px;
  height: 100%;
  padding: 10px;
  padding: 0.625rem;
}

.vert_nav > ul {
  list-style-type: none;
}

/* All of the text in the navigation bar */
nav.vert_nav a {
  font-family: "avenir", sans-serif;
  color:white;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: inherit;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.0625em
}

.personal_info {
  float: left;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-28%, -70%);
}

.page_nav {
  float: left;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-28%, -70%);
}

.page_nav li a {
  position: relative;
  display: block;
  height: 80px;
  height: 4rem;
}

.page_nav li a:hover {
  text-shadow: #EEEE00 0 0 10px;
}

#social {
  float: bottom;
  display: block;
  margin-left:-50px;
  position: absolute;
  top: calc(100% - 220px);
  width: 100%;
}

.social_link {
  margin: 20px;
  display: block;
  opacity: 0.6;
}

.social_link:hover {
  opacity: 1.0;
}

/*
Body of the Resume Page
*/

.resume_body {
	float: right;
  position: relative;
	margin-bottom: 10px;
  margin-left: 90px;
  margin-right: 10px;
}

h2 {
  font-family: "avenir", sans-serif;
  font-size: 1.8em;
}

h3 {
  font-family: "avenir", sans-serif;
  font-size: 1.4em;
}

p {
	font-family: "avenir", sans-serif;
	font-size: 1.0em;
}

p.header {
  font-size: 1.1em;
  font-weight: bold;
  font-variant: smallcaps;
  margin-left: 20px;
  margin-right: 20px;
}

p.date {
  margin-left: 20px;
  margin-right: 20px;
}

p.body {
  margin-left: 30px;
  margin-right: 20px;
}

.bold {
  font-weight: bold;
}

.resume_item {
  border: 1px solid #999;
  margin: 5px;
}

.resume_item_header {
  display:inline-block;
}

#peckappstore {
  margin-left: 20px;
}

#peckappstore > * {
  display: inline-block;
}

/*h3 {
	font-family: Century Gothic, sans-serif;
	color:#36648b;
	text-align:center;
}*/

.skills li {
  font-family: "avenir", sans-serif;
  font-size: 1.0em;
}

.jobTitle {
  color:#cc0000;
  font-size:24px;
}

/*Footer links and styling*/

#footer {
  height: 20px;
  background-color: #DDEEDD;
  clear: both;
}
