
body {
  background-color: #F6F7F0;
}

#header {
	margin-bottom: 10px;
  background-color: #DDEEDD;
  position:fixed;
  width: 100%;
}

#footer {
  height: 100px;
  background-color: #DDEEDD;
  clear: both;
}

.resume_body {
	float: left;
  margin-top: 300px;
	margin-bottom: 10px;
}

p {
	font-family: 'Arimo', sans-serif;
	font-size: 1.0em;
}

p.header {
  font-size: 1.1em;
  font-weight: bold;
  font-variant: smallcaps;
  margin-left: 20px;
  margin-right: 20px;
}

p.date {
  margin-left: 20px;
  margin-right: 20px;
}

p.body {
  margin-left: 30px;
  margin-right: 20px;
}

.bold {
  font-weight: bold;
}

.resume_item {
  border: 1px solid grey;
  margin: 5px;
}

.personal_links {
  margin: 10px;
  display: inline-block;
}

#peckappstore {

}

h3 {
	font-family: Century Gothic, sans-serif;;
	color:#36648b;
	/*text-align:center;*/
}

/*span {
	color:#cc0000;
	font-size:24px;
}*/

.jobTitle {
  color:#cc0000;
  font-size:24px;
}
